html {
    background-color: rgb(189, 205, 255);
}

body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 1em;
}

#clock {
    background-color: white;
    text-align: center;
    width: 275px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    stroke-width: 3px;
    stroke: grey;
}

.timer{
    background-color: #f0f0f0;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.75;
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-weight: 700;
    font-size: 3em;
}

#catContainer {
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-top: 50px;
}

.cat {
    width: 50px;
    height: 50px;
    position: absolute;
    transition: transform 0.3s ease;
    user-select: none;
    pointer-events: none;
}

/* .draggable {
    width: 300px;
    height: 275px;
    padding: 0.5em;
    border: none;
} */

.modal {
  display: flex;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 2em;
  border-radius: 12px;
  width: 300px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

.close {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#openSettingsBtn {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 50px;
}